<img src="imgs/gogofitness-logo.png" class="center img2">
<br>
<nav class="navbar navbar-dark bg-secondary justify-content-center">
  <ul class="nav justify-content-center  nav-fill bg-secondary"> <!-- remove nav-tabs to get 
    untabbed nav bar -->
    <div class='flexRow'>
<!--       <li class="nav-item">
        <a class="navbar-brand" href="#">
          <div class="logo-image">
                <img src="imgs/gogofitness-logo.png" class="img-fluid">
          </div>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link  text-light" href="/home">Home</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link active text-light" href="/create">Create Plan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-light" href="/wGen">Workout Generator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-light" href="/nutrition">Nutrition</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-light" href="/profile"> Profile </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-light" href="/logout"> Logout </a>
      </li>
    </div>
  </ul>
</nav>
<br><br>

